@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
:root {
    --main-bg-color: rgb(235, 115, 235);
    --font1: font-family: 'Baloo Bhaina 2', cursive;
    --font2: font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    width: 80vw;
}

.max-width-2 {
    width: 60vw;
}

.margin-auto {
    margin: auto;
}

.my-2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    padding: 3px 8px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 3px 5px;
    border: 3px solid black;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: var(--font1);
}

.form-box input,
textarea {
    width: 60vw;
    padding: 6px 15px;
    font-size: 18px;
    font-family: var(--font1);
    margin: 6px 0;
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;
}